.activity-feed {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 440px;
  height: 230px;
  top: 248px;
  left: 976px;
  gap: 0px;
  opacity: 0px;
}

.activity-feed h2 {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.activity-feed ul {
  list-style: none;
  padding: 0;
}

.activity-feed .activity-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.activity-feed .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.activity-feed .activity-text {
  flex-grow: 1;
  font-family: Inter;
}

.activity-feed .activity-text p {
  margin: 0;
}

.activity-feed .datetime {
  display: block;
  color: gray;
  font-size: 0.9em;
  margin-top: 5px;
}

.header2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 768px) {
  .activity-feed {
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
  }
}
