.sidebar {
  background-color: #33074f;
  padding: 20px;
  height: 100vh;
  color: white;
  height: 895px;
}

.sidebar-header h2 {
  margin: 0;
  color: white;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
}

.sidebar-menu {
  margin-top: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-link-content {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
}

.sidebar-link i {
  margin-right: 10px;
}

.sidebar-link span {
  font-size: 16px;
}

.user-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
    height: auto;
  }
}
